*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 229, 229);
}

header {
    border: px solid black;
    width: 75%;
    height: 60px;
    text-align: center;
    margin-top: 15px;
    padding-top: 11px;
    border-radius: 15px;
    box-shadow: 5px 5px ;
    background-color: rgb(236, 37, 104);
}